In [5]:
class student:
    pass
student1  = student()
student2 = student()
student1.name = "elon musk"
student1.std = 7
student2.name = "bill"

print(student1.name)

elon musk

In [6]:
class Employe:
    pass
 
ravi = Employe()
kisan = Employe()

ravi.age = 30
ravi.work = "farming"

kisan.age =50
kisan.work ="pump water "

print(ravi.work)
print(kisan.age)

farming
50

In [1]:
 # instance & class veriable 
 class student:
     leaves = 12
     pass 

prashant = student()
hitesh  = student()

prashant.name = "prashant"
prashant.age = 21
prashant.std = " BCCA "

hitesh.name = "hitesh"
hitesh.age = 20
hitesh.std = "BCCA ||"

student.leaves =202
hitesh.leaves = 2
print(hitesh.name)
print(hitesh.leaves)

hitesh
2

In [9]:
#SELF AND INIT IN PYTHON
 # instance & class veriable 
class student:
    def printdata(self):
        return self.name ,self.age , self.std
prashant = student()
hitesh  = student()

prashant.name = "prashant"
prashant.age = 21
prashant.std = " BCCA "

hitesh.name = "hitesh"
hitesh.age = 20
hitesh.std = "BCCA ||"

student.leaves =202
hitesh.leaves = 2
print(hitesh.name)
print(hitesh.leaves)
print(prashant.__dict__)

print(prashant.printdata())

hitesh
2
{'name': 'prashant', 'age': 21, 'std': ' BCCA '}
('prashant', 21, ' BCCA ')

In [28]:
class student:
    def mystudent(self):
        return self.age

prashant =student()
prashant.name = "prashant "
prashant.age = 22

print(prashant.mystudent())

22

In [6]:
class collage:
  def __init__(self,aname,aAge,astd):
    self.name = aname
    self.age = aAge
    self.std = astd

  
  def studentclass(self):
    print("hallow my name is ",self.name, self.age)

harry = collage("harry",21,"BCCA")
larry =collage("larry",22,"bcom")

harry.studentclass()
larry.studentclass()

hallow my name is  harry 21
hallow my name is  larry 22

In [13]:
class name:

    def __init__(self,aname,aage) :
        self.name =aname
        self.age = aage

    def myname(self):
        print(self.name , "and ",self.age)


prashant  = name("prashant chavan",22)

prashant.myname()

prashant chavan and  22

In [3]:
#Find out the cost of a rectangular field with breadth(b=120), length(l=160). It costs x (2000) rupees per 1 square unit
class rectange:
    def __init__(self, length, breath, unit_cost=0):
        self.length = length
        self.breath = breath
        self.unit_cost = unit_cost
    
    def get_area(self):
        return self.length * self.breath
    def calculation(self):
        area =self.get_area()
        return area * self.unit_cost

r = rectange(160,120,200)
print(r.get_area())

19200

In [9]:
class village:
    def __init__(self,name,area,population) -> None:
        self.name =name
        self.population = population
        self.area = area
    def peoplevillage(self):
        print("im prashant chavan live in {} village population is{} area is {}".format(self.name,self.population,self.area))

devhari = village("devhari",1500,25)
devhari.peoplevillage()

im prashant chavan live in devhari village population is25 area is 1500

In [16]:
#Program to demonistrate Constructor will execute only once per Object:
class test:

    def __init__(self) -> None:
        print("Construction execution")
    def m1(self):
        print("method execution")

t1=test()
t2=test()
t3=test()
t1.m1()

Construction execution
Construction execution
Construction execution
method execution

In [31]:
class student:
    def __init__(self,x,y,z):
        self.name=x
        self.rollno =y
        self.marks=z
    def display(self):
        print(self.name,self.rollno,self.marks)

s1= student("prashant",21,79)

s2=student("madhav",25,88)
s1.display()
s2.display()

prashant 21 79
madhav 25 88